.cubedev-purple-banner {
  overflow: hidden;
  display: flex;
  align-items: center;
  max-height: 0;
  transition: max-height 0.3s linear;
}

.cubedev-purple-banner_no-animation {
  transition: none;
}

.cubedev-purple-banner_visible {
  max-height: 40px;
}

.cubedev-purple-banner__link {
  flex-grow: 1;
  padding: 7px;
  border: none;

  text-decoration: none;
  font-family: "Cera Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.005em;

  color: #ffffff;
  background: radial-gradient(218.73% 98564.22% at 87.78% 50%, #ff76a0 0%, #9592ff 51.56%, #cac9ff 100%);
}

.cubedev-purple-banner__link:hover,
.cubedev-purple-banner__link:focus {
  color: #ffffff;
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .cubedev-purple-banner__link {
    padding: 4px 16px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .cubedev-purple-banner__link {
    font-size: 12px;
    line-height: 16px;
  }
}
