:root {
  --font: var(--purple-banner-font, "Cera Pro");
}

.PurpleBanner {
  --current: 0;
  --absoluteSlideNumber: 0;
  --hover_transition: 0.3s;

  position: relative;
  display: flex;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  color: #0F0F23;
  font-family: var(--font), CeraPro, CeraPro-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  background-image: linear-gradient(265deg, #FFA2C2 0%, #E5A4FF 50%, #C4C2FF 100%);
  transition: max-height 0.5s linear, color 0.5s linear;
}

.PurpleBanner--visible {
  max-height: 48px;
  color: #0F0F23;
}

.PurpleBanner__container {
  display: flex;
  transition: transform 1s;
  transform: translate(calc(-50vw * var(--current) - 75vw));
}

.PurpleBanner__container--noAnimate,
.PurpleBanner__container--noAnimate .PurpleBanner__link,
.PurpleBanner__container--singleSlide {
  transition: none;
}

.PurpleBanner__container--singleSlide {
  width: 100%;
  transform: translate(0);
}

.PurpleBanner__link {
  display: inline-block;
  flex-grow: 1;
  box-sizing: border-box;
  width: 45vw;
  height: 48px;
  margin-inline: 2.5vw;
  border: none;
  padding: 8px 7px;
  opacity: 1;
  overflow: hidden;
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.005em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;

  transition: opacity 0.4s;
  white-space: nowrap;
}

.PurpleBanner__link:not(.PurpleBanner__link--active):not(:only-child) {
  opacity: 0.3;
  transition: transform var(--hover_transition), opacity 0.4s;
}

a.PurpleBanner__link:not(.PurpleBanner__link--active):not(:only-child):hover,
a.PurpleBanner__link:not(.PurpleBanner__link--active):not(:only-child):focus-visible {
  opacity: 0.6;
  transform: translate(1em);
}

.PurpleBanner__link--active + a.PurpleBanner__link:not(:only-child):hover,
.PurpleBanner__link--active + a.PurpleBanner__link:not(:only-child):focus-visible {
  opacity: 0.6;
  transform: translate(-1em);
}

.PurpleBanner__link:hover {
  text-decoration: none;
}

.PurpleBanner__link:hover,
.PurpleBanner__link:focus-visible {
  color: inherit;
}

/* event */

.PurpleBanner__event {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  padding: 3px 12px;
  line-height: 26px;
  text-align: center;
}

.PurpleBanner__event_date {
  display: flex;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 8px;
  padding-inline: 8px;
  color: currentColor;
  white-space: nowrap;
}

.PurpleBanner__event_title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1px; /* Safari bugfix */
}

.PurpleBanner__cta {
  text-align: left;
  white-space: nowrap;
}

.PurpleBanner__event_date.PurpleBanner__event--soon,
.PurpleBanner__event_date.PurpleBanner__event--live {
  border: none;
  color: white;
  font-weight: 400;
  background-color: #0F0F23;
}

.PurpleBanner__event_live {
  color: #FF4F64;
}

.PurpleBanner__cta {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid currentColor;
  border-radius: 8px;
  padding-inline: 8px;
  color: #0F0F23;
}

@media (width <= 960px) {
  .PurpleBanner__event {
    display: inline-block;
    padding: 0;
    line-height: 16px;
    text-align: center;
  }

  .PurpleBanner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    white-space: initial;
  }

  .PurpleBanner__event_date,
  .PurpleBanner__cta {
    display: inline-flex;
    border-radius: 4px;
    padding-inline: 4px;
  }

  .PurpleBanner__event_date {
    margin-right: 8px;
  }

  .PurpleBanner__cta {
    margin-left: 8px;
  }

  .PurpleBanner__container:not(.PurpleBanner__container--singleSlide) {
    transform: translate(calc(-100vw * (var(--current) + 2)));
  }
}

@media (width <= 640px) {
  .PurpleBanner--visible {
    max-height: 48px;
  }
  .PurpleBanner__link {
    height: 48px;
    padding: 0 16px;
    line-height: 16px;
    text-align: left;
  }
}

.PurpleBanner__event_live {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow:
    0 0 7px 0 rgb(255 79 100 / 0.8),
    0 0 4px 0 rgb(255 79 100);
  background-color: currentColor;
  animation: flashing_dot 900ms infinite linear;
}

@keyframes flashing_dot {
  0%, 66.67%, 100% {
    opacity: 1;
  }
  16.67%, 50% {
    opacity: 0;
  }
}

/* fire flame */

.PurpleBanner__event_fire {
  position: relative;
  display: inline-block;
  margin-right: 6px;
  color: #ff7c4a;
  transition: transform 0.4s;
  transform: translateY(0.1em);
  contain: layout;
}

.PurpleBanner__link:hover .PurpleBanner__event_fire {
  transform: scale(1.1) translateY(0.1em);

  animation-name: fire_hover;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
}

@keyframes fire_hover {
  0% {
    transform: translateY(0.1em) scale(1) rotateZ(0);
  }
  33% {
    transform: translateY(0.1em) scale(1.1) rotateZ(7deg);
  }
  66% {
    transform: translateY(0.1em) scale(1.1) rotateZ(-3deg);
  }
  100% {
    transform: translateY(0.1em) scale(1.1) rotateZ(0);
  }
}

.PurpleBanner__event_fire::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0.3em;
  height: 0.3em;
  box-shadow: inset -0.03em 0.03em 0 0.05em currentColor;
  opacity: 0;
  transform: rotate(-60deg);
}

.PurpleBanner__link:hover .PurpleBanner__event_fire::after {
  animation-name: fire_hover_after;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

@keyframes fire_hover_after {
  50% {
    opacity: 1;
  }
  100% {
    translate: -0.1em -0.3em;
  }
}

.PurpleBanner__event_fire::after,
.PurpleBanner__event_fire::before {
  border-top-left-radius: 70% 70%;
  border-top-right-radius: 0% 0%;
  border-bottom-right-radius: 70% 70%;
  border-bottom-left-radius: 50% 50%;
}

.PurpleBanner__event_fire::before {
  content: "";
  display: block;
  width: 0.8em;
  height: 0.8em;
  box-shadow: inset -0.07em 0.07em 0 0.17em currentColor;
  background-color: transparent;
  animation-name: fire_flame_rotate, fire_flame_skew;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 0.75s, 1.75s;
}

@keyframes fire_flame_rotate {
  0% {
    rotate: Z -40deg;
  }
  50% {
    rotate: Z -45deg;
  }
  100% {
    rotate: Z -50deg;
  }
}

@keyframes fire_flame_skew {
  0% {
    transform: skew(5deg, 5deg);
  }
  33% {
    transform: skew(-3deg, 0deg);
  }
  66% {
    transform: skew(0deg, -3deg);
  }
  100% {
    transform: skew(-5deg, -5deg);
  }
}
