.PurpleBanner {
  overflow: hidden;
  display: flex;
  align-items: center;

  font-family: "Cera Pro", CeraPro, CeraPro-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

  max-height: 0;
  transition: max-height 0.5s linear, color 0.5s linear;
  color: transparent;
  --current: 0;
  --absoluteSlideNumber: 0;

  --hover_transtion: 0.3s;

  position: relative;
  background-color: #0F0F23;
  box-shadow: inset 0 -1px 0 #333344;
}

.PurpleBanner--noAnimate {
  transition: none;
}

.PurpleBanner::before {
  position: absolute;
  content: "";
  height: 100%;
  left: -166vw;
  width: 166vw;

  background-image: linear-gradient(45deg,
    rgba(255, 106, 187, 0) 0%,
    rgba(255, 106, 187, 0.3) 50%,
    rgba(255, 106, 187, 0) 100%),
  linear-gradient(45deg,
    rgba(136, 106, 255, 0) 0%,
    rgba(136, 106, 255, 0.3) 50%,
    rgba(136, 106, 255, 0) 100%);

  background-position: right, left;
  background-size: 33vw, 33vw;
  background-repeat: no-repeat;

  animation-name: gradient;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes gradient {
  40% {
    transform: translateX(calc(266vw));
  }
  100% {
    transform: translateX(calc(266vw));
  }
}

.PurpleBanner--visible {
  max-height: 48px;
  color: white;
}

.PurpleBanner__container {
  transition: transform 1s;
  transform: translate(calc(-50vw * var(--current) - 75vw));
  display: flex;
}

.PurpleBanner__container--noAnimate,
.PurpleBanner__container--noAnimate .PurpleBanner__link,
.PurpleBanner__container--singleSlide {
  transition: none;
}

.PurpleBanner__container--singleSlide {
  width: 100%;
  transform: translate(0);
}

.PurpleBanner__link {
  width: 45vw;
  flex-grow: 1;
  padding: 8px 7px;
  border: none;
  box-sizing: border-box;

  height: 48px;
  margin: 0 2.5vw;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.005em;
  opacity: 1;

  color: inherit;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;

  transition: opacity 0.4s;
}

.PurpleBanner__link:not(.PurpleBanner__link--active):not(:only-child) {
  opacity: 0.4;
  transition: transform var(--hover_transtion), opacity 0.4s;
}

a.PurpleBanner__link:not(.PurpleBanner__link--active):not(:only-child):hover,
a.PurpleBanner__link:not(.PurpleBanner__link--active):not(:only-child):focus-visible {
  transform: translate(1em);
}

.PurpleBanner__link--active + a.PurpleBanner__link:not(:only-child):hover,
.PurpleBanner__link--active + a.PurpleBanner__link:not(:only-child):focus-visible {
  transform: translate(-1em);
}

.PurpleBanner__link:hover,
.PurpleBanner__link:focus-visible {
  color: inherit;
}

/* event */

.PurpleBanner__event {
  text-align: center;
  border-radius: 6px;
  padding: 3px 12px;
  transition: background-color 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PurpleBanner__link--active:hover .PurpleBanner__event {
  background-color: rgba(255, 255, 255, 0.12);
}

.PurpleBanner__event_date {
  white-space: nowrap;
  display: inline;
  color: #FF83A8;
  margin-right: 12px;
}

.PurpleBanner__event_title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.PurpleBanner__cta {
  white-space: nowrap;
  color: #FF83A8;
  margin-left: 12px;
  width: 114px;
  text-align: left;
}

.PurpleBanner__event--soon {
  color: #FF7C4A;
}

.PurpleBanner__event--live {
  color: #FF4F64;
}

.PurpleBanner__cta svg {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .PurpleBanner__event {
    display: inline-block;
    text-align: center;
    padding: 0;
  }

  .PurpleBanner__link {
    width: 100vw;
    box-sizing: border-box;
    white-space: initial;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .PurpleBanner__event_date {
    margin-right: 8px;
  }

  .PurpleBanner__cta {
    margin-left: 8px;
  }

  .PurpleBanner__container:not(.PurpleBanner__container--singleSlide) {
    transform: translate(calc(-100vw * (var(--current) + 2)));
  }
}

@media screen and (max-width: 768px) {
  .PurpleBanner__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .PurpleBanner--visible {
    max-height: 48px;
  }
  .PurpleBanner__link {
    height: 48px;
    padding: 0 16px;
    text-align: left;
    line-height: 16px;
  }
}
